.cardStyling {
  width: 500px;
}

.cardStyling:hover {
  border: 3px solid blue;
  cursor: pointer;
}

.button {
  color: orange;
}


.bg-gradiant {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient( rgb(99, 95, 95), rgb(243, 148, 40));
}

.top-bar {
  background-color: rgba(0, 0, 0, 0.555);
}

.boxArea {
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  
}

.hero-content {
  background-color: aliceblue;
  width: 90%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border: 4px solid rgb(186, 217, 245);
}


