.cardStyling {
  width: 500px;
}

.cardStyling:hover {
  border: 3px solid blue;
  cursor: pointer;
}

.button {
  color: orange;
}

.bg-gradiant {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient( rgb(99, 95, 95), rgb(243, 148, 40));
}

.top-bar {
  background-color: rgba(0, 0, 0, 0.555);
}